/* Estilos generales */
body {
    background-color: #b0f8ee;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #8f0000;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 30px;
}

p {
    color: #000000;
    font-size: 18px;
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    letter-spacing: 1px;
}

/* Rect치ngulo para el p치rrafo */
.cuadro-texto {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 60%;
    margin: 20px auto;
}

/* ===== Ajustar im치genes al cuadro ===== */
.cuadro-texto img {
    width: 100%;     /* ocupa todo el ancho del cuadro */
    height: auto;    /* mantiene proporci칩n */
    display: block;  /* elimina espacios debajo de la imagen */
    border-radius: 5px; /* opcional, bordes suaves */
    margin: 10px 0;  /* espacio arriba y abajo */
}
