body {
    background-color: #b0f8ee;
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    color: #8f0000;
    font-family: Arial, sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

p {
    color: #000000;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

.titulo {
    font-family: Georgia, "Times New Roman", serif;
    color: #000000;
    letter-spacing: 1px;
}

