body {
    background-color: #b0f8ee;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #8f0000;
    font-family: Arial, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 30px;
}

p {
    color: #000000;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-align: center;
    letter-spacing: 1px;
}

/* Rectángulo para el párrafo */
.cuadro-texto {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    width: 60%;
    margin: 20px auto;
}

/* Imagen centrada y tamaño flexible */
.imagen {
    display: block;          /* obliga a ser bloque para centrar */
    margin: 20px auto 0 auto; /* margen arriba y centrado horizontal */
    max-width: 80%;          /* tamaño máximo relativo al contenedor */
    height: auto;            /* mantiene proporción */
}
